body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.opcion {
  padding: 15px 30px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.opcion:hover {
  background-color: #45a049;
}

.anuncio {
  display: none; /* Inicialmente oculto */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
